In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/Users/shivam_goyal/Downloads/ionosphere.data.csv')

In [3]:
df.head()

,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.1,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
0,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
1,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
2,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
3,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
4,1,0,0.02337,-0.00592,-0.09924,-0.11949,-0.00763,-0.11824,0.14706,0.06637,...,-0.01535,-0.03240,0.09223,-0.07859,0.00732,0.00000,0.00000,-0.00039,0.12011,b

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le=LabelEncoder()

In [6]:
df['g']=le.fit_transform(df['g'])

In [7]:
df.head()

,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.1,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
0,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
1,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
2,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
3,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1
4,1,0,0.02337,-0.00592,-0.09924,-0.11949,-0.00763,-0.11824,0.14706,0.06637,...,-0.01535,-0.03240,0.09223,-0.07859,0.00732,0.00000,0.00000,-0.00039,0.12011,0

## KNN

#### k=5

#### 30% test data

In [8]:
i=int(df.shape[0]*0.3)
df=df.values

In [9]:
df_test=df[:i,:]
df_train=df[i:,:]
df_train_x=df_train[:,:-1]
df_train_y=df_train[:,-1]
df_test_x=df_test[:,:-1]
df_test_y=df_test[:,-1]

In [10]:
print(df_train_x.shape)
print(df_train_y.shape)
print(df_test_x.shape)
print(df_test_y.shape)

(245, 34)
(245,)
(105, 34)
(105,)

In [49]:
def dist(x1,x2):
    return np.sqrt(sum((x2-x1)**2))
def knn(X,Y,query_point,k=5):
    vals=[]
    m=X.shape[0]
    for i in range(m):
        d=dist(query_point,X[i])
        vals.append((d,Y[i]))
    
    vals=sorted(vals)
    vals=vals[:k]
    vals=np.array(vals)
    new_vals=np.unique(vals[:,1],return_counts=True)
    #print(new_vals)
    index=new_vals[1].argmax()
    pred=new_vals[0][index]
    return pred
    #print(vals)

In [50]:
y=[]
for i in range(df_test_x.shape[0]):
    x=knn(df_train_x,df_train_y,df_test_x[i])
    y.append(x)
print(y)

[1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0, 1.0, 1.0, 1.0, 0.0, 1.0, 1.0, 1.0, 0.0, 1.0, 0.0, 1.0]

In [51]:
print(df_test_y)

[0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.
 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1.
 1. 0. 1. 0. 1. 0. 1. 0. 1.]

In [52]:
acc=np.sum(df_test_y==y)/df_test_y.shape[0]
print(acc*100)

73.33333333333333

### Decision Trees and Random Forest

In [14]:
df=pd.read_csv('/Users/shivam_goyal/Downloads/ionosphere.data.csv')

In [15]:
le=LabelEncoder()

In [16]:
df['g']=le.fit_transform(df['g'])

In [17]:
df.head()

,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.1,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
0,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
1,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
2,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
3,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1
4,1,0,0.02337,-0.00592,-0.09924,-0.11949,-0.00763,-0.11824,0.14706,0.06637,...,-0.01535,-0.03240,0.09223,-0.07859,0.00732,0.00000,0.00000,-0.00039,0.12011,0

In [110]:
def entropy(col):
    counts=np.unique(col,return_counts=True)
    N=float(col.shape[0])
    ent=0.0
    for i in counts[1]:
        p=i/N
        ent+=(-1.0*p*np.log2(p))
    return ent

In [111]:
def divide_data(x_data,fkey,fval):
    #Work with Pandas Data Frames
    x_right = pd.DataFrame([],columns=x_data.columns)
    x_left = pd.DataFrame([],columns=x_data.columns)
    
    for ix in range(x_data.shape[0]):
        val = x_data[fkey].loc[ix]
        
        if val > fval:
            x_right = x_right.append(x_data.loc[ix])
        else:
            x_left = x_left.append(x_data.loc[ix])
            
    return x_left,x_right

In [112]:
def information_gain(x_data,fkey,fval):
    
    right,left=divide_data(x_data,fkey,fval)
    
    # % of samples on the right and left side
    l=float(left.shape[0])/x_data.shape[0]
    r=float(right.shape[0])/x_data.shape[0]
    
    if left.shape[0]==0 or right.shape[0]==0:
        return -100000
    
    i_gain=entropy(x_data.g)-(l*entropy(left.g)+r*entropy(right.g))
    return i_gain

In [113]:
df.shape

(350, 35)

In [18]:
output_cols=['g']
input_cols=['1','0','0.99539','-0.05889','0.85243','0.02306','0.83398','-0.37708','1.1','0.03760','0.85243','-0.17755','0.59755','-0.44945','0.60536','-0.38223','0.84356','-0.38542','0.58212','-0.32192','0.56971','-0.29674','0.36946','-0.47357','0.56811','-0.51171','0.41078','-0.46168','0.21266','-0.34090','0.42267','-0.54487','0.18641','-0.45300']

In [19]:
X=df[input_cols]
Y=df[output_cols]
print(X.shape)
print(Y.shape)

(350, 34)
(350, 1)

In [116]:
# testing of function
for i in X.columns:
    print(i)
    print(information_gain(df,i,df[i].mean()))

1
0.17763173981538927
0
-100000
0.99539
0.1330778455260856
-0.05889
0.02304946886937309
0.85243
0.1571451630505406
0.02306
0.008673923723360177
0.83398
0.08722844863738011
-0.37708
0.01940292306448288
1.1
0.05419527252568068
0.03760
0.0008212185052154375
0.85243
0.1571451630505406
-0.17755
0.011401703839582167
0.59755
0.07313188035262408
-0.44945
0.008750078596104549
0.60536
0.09169346188987582
-0.38223
0.00787078337051883
0.84356
0.035162335481838114
-0.38542
1.051695281073517e-05
0.58212
0.02916616933311078
-0.32192
0.0014995504306224428
0.56971
0.08396186002691441
-0.29674
0.002117023026184439
0.36946
0.05177823071840082
-0.47357
0.0018071936351147233
0.56811
0.04383784630621046
-0.51171
0.0019256730750570883
0.41078
0.003923521866864177
-0.46168
0.007456814283464008
0.21266
0.05232350202963565
-0.34090
0.009212539114387241
0.42267
0.08109958894286873
-0.54487
0.015749871127948123
0.18641
0.0895189112287883
-0.45300
0.008831643311327464

### Decision tree
#### max_depth=5

In [117]:
class DecisionTree:
    
    #Constructor
    def __init__(self,depth=0,max_depth=5):
        self.left = None
        self.right = None
        self.fkey = None
        self.fval = None
        self.max_depth = max_depth
        self.depth = depth
        self.target = None
        
    def train(self,X_train):
        
        features = ['1','0','0.99539','-0.05889','0.85243','0.02306','0.83398','-0.37708','1.1','0.03760','0.85243','-0.17755','0.59755','-0.44945','0.60536','-0.38223','0.84356','-0.38542','0.58212','-0.32192','0.56971','-0.29674','0.36946','-0.47357','0.56811','-0.51171','0.41078','-0.46168','0.21266','-0.34090','0.42267','-0.54487','0.18641','-0.45300']
        info_gains = []
        
        for ix in features:
            i_gain = information_gain(X_train,ix,X_train[ix].mean())
            info_gains.append(i_gain)
            
        self.fkey = features[np.argmax(info_gains)]
        self.fval = X_train[self.fkey].mean()
        print("Making Tree Features is",self.fkey)
        
        #Split Data
        data_left,data_right = divide_data(X_train,self.fkey,self.fval)
        data_left = data_left.reset_index(drop=True)
        data_right = data_right.reset_index(drop=True)
         
        #Truly a left node
        if data_left.shape[0]  == 0 or data_right.shape[0] ==0:
            if X_train.g.mean() >= 0.5:
                self.target = "Sion"
            else:
                self.target = "Dion"
            return
        #Stop earyly when depth >=max depth
        if(self.depth>=self.max_depth):
            if X_train.g.mean() >= 0.5:
                self.target = "Sion"
            else:
                self.target = "Dion"
            return
        
        #Recursive Case
        self.left = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.left.train(data_left)
        
        self.right = DecisionTree(depth=self.depth+1,max_depth=self.max_depth)
        self.right.train(data_right)
        
        #You can set the target at every node
        if X_train.g.mean() >= 0.5:
            self.target = "Sion"
        else:
            self.target = "Dion"
        return
    
    def predict(self,test):
        if test[self.fkey]>self.fval:
            #go to right
            if self.right is None:
                return self.target
            return self.right.predict(test)
        else:
            if self.left is None:
                return self.target
            return self.left.predict(test)

#### 30% testing data

In [118]:
split=int(0.7*df.shape[0])
train_data=df[:split]
test_data=df[split:]
test_data=test_data.reset_index(drop=True)

In [122]:
dt=DecisionTree()
dt.train(train_data)

Making Tree Features is 0.85243
Making Tree Features is 0.83398
Making Tree Features is -0.37708
Making Tree Features is 1
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is -0.05889
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is -0.17755
Making Tree Features is 1
Making Tree Features is 1
Making Tree Features is 0.99539
Making Tree Features is 0.85243
Making Tree Features is 1
Making Tree Features is 0.99539
Making Tree Features is 0.85243
Making Tree Features is 1
Making Tree Features is 0.99539
Making Tree Features is 0.85243
Making Tree Features is 1
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is -0.54487
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is 0.02306
Making Tree Features is -0.44945
Making Tree Features is 0.99539
Making Tree Features is -0.17755
Making Tree Features is 1
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is -0.05889
Making Tree Features is 0.02306
Making Tree Features is 0.02306
Making Tree Features is 0.83398
Making Tree Features is 1
Making Tree Features is 1
Making Tree Features is -0.05889
Making Tree Features is 0.02306
Making Tree Features is 1
Making Tree Features is 0.83398
Making Tree Features is 0.83398
Making Tree Features is -0.17755
Making Tree Features is -0.37708
Making Tree Features is 0.99539
Making Tree Features is 0.85243
Making Tree Features is -0.37708
Making Tree Features is -0.17755
Making Tree Features is 0.99539
Making Tree Features is -0.38223
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is 0.99539
Making Tree Features is -0.32192
Making Tree Features is 0.99539
Making Tree Features is -0.47357
Making Tree Features is 0.83398
Making Tree Features is -0.37708
Making Tree Features is 0.18641

In [123]:
y_pred=[]
for ix in range(test_data.shape[0]):
    y_pred.append(dt.predict(test_data.loc[ix]))

In [124]:
y_pred

['Dion',
 'Dion',
 'Sion',
 'Dion',
 'Sion',
 'Dion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Dion',
 'Dion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Dion',
 'Dion',
 'Sion',
 'Sion',
 'Sion',
 'Sion',
 'Sion']

In [125]:
y_actual=test_data[output_cols]
print(y_actual)

     g
0    1
1    0
2    1
3    0
4    1
..  ..
101  1
102  1
103  1
104  1
105  1

[106 rows x 1 columns]

In [126]:
y_pred=le.fit_transform(y_pred)

In [127]:
print(y_pred)

[0 0 1 0 1 0 1 0 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 0 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 1 1 1 1 1 1 1 1 1 0
 0 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1]

In [128]:
print(y_pred.shape)
print(y_actual.shape)

(106,)
(106, 1)

In [129]:
y_pred=np.array(y_pred).reshape((-1,1))
print(y_pred.shape)

(106, 1)

In [131]:
acc=np.sum(y_pred==y_actual)/y_pred.shape[0]
print(acc*100)

g    84.90566
dtype: float64

### Random Forest

In [11]:
from sklearn.ensemble import RandomForestClassifier

#### n_estimators=10

In [12]:
rf=RandomForestClassifier(n_estimators=10,criterion='entropy',max_depth=5)

#### 30% test data

In [20]:
split=int(0.7*df.shape[0])
train_data_30=df[:split]
test_data_30=df[split:]
test_data_30=test_data_30.reset_index(drop=True)

In [21]:
X_train=train_data_30[input_cols]
Y_train=np.array(train_data_30[output_cols]).reshape((-1,))
X_test=test_data_30[input_cols]
Y_test=np.array(test_data_30[output_cols]).reshape((-1,))

In [22]:
rf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
rf.score(X_train,Y_train)

0.9385245901639344

In [24]:
rf.score(X_test,Y_test)

0.9528301886792453